@charset "utf-8";
/* form */

body{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color:white;
}

#contactus input[type="text"],textarea{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	border-radius:4px;
	border: 1px solid #999;
	padding: 5px 5px 5px 5px;
	font-size: 0.8em;
	font-weight: bold;
}

#contactus input[type="text"]
{
  height:25px;
  width:640px;
  
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
   border-radius: 5px;   
  
}


#contactus textarea
{
  height:120px;
  width:640px;
  font-size: 1.2em;
  font-weight: bold; 
 
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
   border-radius: 8px;  
}

#contactus input[type="submit"],input[type="reset"]{
	margin:10px 0px 0px 0px;
	border-radius:5px;
	padding: 5px 7px 5px 7px;
}