body { 
    margin: 10px;
    padding: 0; 
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 100%;
   
}

#wrapper {
    width: 760px;
    margin: 0 auto;
}

#intro {
    padding-bottom: 10px;
}



#slider {
    width: 800px;
    margin: 0 auto;
    position: relative;
}

img {
	border-radius: 10px; 
	border:3px transparent;
	}

.scroll {
    
    height: 500px;
    width: 1270px;
    z-index: 0;
    overflow-x: hidden;
    position: relative;
    left: -260px;
    background: transparent;
	
}

.scrollContainer div.panel {
    padding: 10px;
    height: 550px;
    width: 450px;
}

#shade {
    background: #EDEDEC url(images/shade.jpg) no-repeat 0 0;
    height: 50px;
}

 ul.navigation {
	
    list-style: none;
    margin: 0;
    padding: 0;
    padding-bottom: 9px;
	margin-top: 20px;
}

 ul.navigation li {
    display: inline;
    margin-right: 10px;
}

ul.navigation a {
	transition: all 0.8s;
	background-color: red;
	border-radius: 10; 
    padding: 10px;
    color: white;
    text-decoration: none;
	
}

ul.navigation a:hover {
    background-color: white;
	color: red;
	
}

ul.navigation a.selected {
    background-color: #fff;
}

ul.navigation a:focus {
    outline: none;
}

.scrollButtons {
    position: absolute;
    top: 150px;
    cursor: pointer;
}

.scrollButtons.left {
    left: -20px;
}

.scrollButtons.right {
    right: -20px;
}

.hide {
    display: none;
}

hr { 
    display: block;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width:1px;
	color:#999;
	height:0.2px;
	filter: alpha(opacity=50);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
	-moz-opacity: 0.50;
	opacity:0.2;
} 

#footer{
	font-size:14px;
	position:absolute;
	margin-top:18px;
	margin-left:1045px;
	margin-bottom:10px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#999;
	filter: alpha(opacity=50);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
	-moz-opacity: 0.50;
	opacity:0.5;
}